.profil-picture {
    width: 50px;
    position: absolute;
}

.user-info {
    margin-left: 70px;
    .last-message {
        font-weight: 500;
        margin-top: 5px;
        margin-bottom: 0px;
    }
    .date {
        color: grey;
        font-size: 14px;
        font-style: italic;
        margin-top: 0px;
    }
}

.item {
    transition: .2s;
    padding: 10px !important;
    margin-bottom: 15px;
    cursor: pointer;
        &:hover {
            background-color: #ececec;
            padding: 10px;
            margin-bottom: 15px;
        }
}