<h1>TODO LIST</h1>

<form [formGroup]="todoForm" (ngSubmit)="validationForm(todoForm.value)">

    <label for="todoTitle"></label>
    <input type="text" name="todoTitle" id="todoTitle" placeholder="todoTitle" formControlName="todoTitle">

    <label for="todoDescription"></label>
    <textarea name="todoDescription" id="todoDescription" placeholder="todoDescription" formControlName="todoDescription" cols="30" rows="10"></textarea>

    <button type="submit">Ajouter todo</button>
</form>

<ul>
    <li *ngFor="let task of this.taskService$.getAll()">
        <span (click)="taskService$.switchState(task.id)">{{ task.title }} - {{ task.status }} -</span> 
        (<a [routerLink]="['/' + task.id]" routerLinkActive="router-link-active" >Consulter</a>) - 
        (<a (click)="taskService$.delete(task.id)" >Supprimer</a>)
    </li>
</ul>
