<h2>Profil de {{ user.username }}</h2>

<img [src]="user.picture" alt="" class="profil-picture">

<div class="photo-change" *ngIf="authService.userConnected != null && authService.userConnected.id === user.id">
  <hr>
  <input type="file" (change)="handleUpload($event)">
  <button mat-flat-button color="primary" (click)="updateProfilPicture();" [disabled]="uploadedPicture === ''">Changer de photo</button>
  <hr>
</div>

<p>Prénom: {{ user.firstName }}</p>
<p>Nom: {{ user.lastName }}</p>
<p>Description: {{ user.description }}</p>
<p>Adresse mail: {{ user.mail }}</p>
<p>Date anniversaire: {{ user.birthDate }} - Cette personne a {{ age }} ans</p>
<p>Numéro de tel: {{ user.phone }}</p>

<iframe
  width="1000"
  height="500"
  frameborder="0"
  scrolling="no"
  marginheight="0"
  marginwidth="0"
  [src]='sanitizer.bypassSecurityTrustResourceUrl(mapsURL)'
 >
 </iframe>