<h2>Conversation avec {{user.username}}</h2>
<button mat-mini-fab color="primary" aria-label="Voir son profil" class="profil-view" [routerLink]="['/user/' + user.id]" routerLinkActive="router-link-active">
    <mat-icon>visibility</mat-icon>
</button>

<div class="chatbox" #chatBox [style.display]="messagesList.length > 0 ? 'block' : 'none'">
    <div class="container" *ngFor="let message of messagesList" [ngClass]="isMessageFromMe(message) ? 'darker' : ''">
        <img [src]="isMessageFromMe(message) ?
        this.usersService.userConnected.picture : user.picture"
        alt="Avatar" style="width:100%;"
        [ngClass]="isMessageFromMe(message) ? 'right' : ''">
        <p [ngClass]="isMessageFromMe(message) ? 'text-align-end' : ''">
            {{ message.content }}
            <img class="message-picture" [src]="message.picture" alt="img" *ngIf="message.picture !== ''">
            <mat-icon *ngIf="isMessageFromMe(message)" class="clear-message" (click)="removeMessage(message.id)">clear</mat-icon>
            <mat-icon *ngIf="isMessageFromMe(message)" class="edit-message" (click)="openModal(template)">edit</mat-icon>
        </p>
        <span [ngClass]="isMessageFromMe(message) ? 'time-left' : 'time-right'">{{ message.datetime | date: 'dd/MM/yyyy à HH:mm' }}</span>

        <ng-template #template>
            <div mat-dialog-content>
            <h2>Changer votre message</h2>
            <mat-form-field>
                <div [formGroup]="updateGroup">
                    <input matInput [value]="message.content" formControlName="inputUpdateMessage" class="full-width">
                </div>
            </mat-form-field>
            </div>
            <div mat-dialog-actions>
                <button mat-button [mat-dialog-close]="true">Annuler</button>
                <button mat-button cdkFocusInitial [mat-dialog-close]="true" (click)="updateMessage(message.id)">OK</button>
            </div>
        </ng-template>

    </div>
</div>

<div class="no-messages" *ngIf="messagesList.length <= 0">
    <h2>Aucun message avec {{user.username}}</h2>
</div>

<form class="form" [formGroup]="messageForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Ecrire un message</mat-label>
      <textarea matInput placeholder="Ecrire un message ici" rows="3" formControlName="messageInput" (keyup.enter)="onSubmit()"></textarea>
    </mat-form-field>

    <input type="file" (change)="handleUpload($event)">

    <button mat-flat-button color="primary" class="send-message" [disabled]="!messageForm.valid">Envoyer le message</button>
</form>