<h2>Conversation avec {{user.username}}</h2>
<button mat-mini-fab color="primary" aria-label="Voir son profil">
    <mat-icon [routerLink]="['/user/' + user.id]" routerLinkActive="router-link-active" >visibility</mat-icon>
</button>

<div class="chatbox" #chatBox [style.display]="messagesList.length > 0 ? 'block' : 'none'">
    <div class="container" *ngFor="let message of messagesList">
        <img [src]="isMessageFromMe(message) ?
        this.authService.userConnected.picture : user.picture"
        alt="Avatar" style="width:100%;" [ngClass]="isMessageFromMe(message) ? 'right' : ''">
        <p [ngClass]="isMessageFromMe(message) ? 'text-align-end' : ''">{{ message.content }}</p>
        <span [ngClass]="isMessageFromMe(message) ? 'time-left' : 'time-right'">{{ message.datetime | date: 'dd/MM/yyyy à hh:mm' }}</span>
    </div>
</div>

<div class="no-messages" *ngIf="messagesList.length <= 0">
    <h2>Aucun message avec {{user.username}}</h2>
</div>

<form class="form">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Ecrire un message</mat-label>
      <textarea matInput placeholder="Ecrire un message ici" rows="3"></textarea>
    </mat-form-field>

    <button mat-flat-button color="primary" class="send-message">Envoyer le message</button>
</form>