.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

.form {
  min-width: 150px;
  width: 100%;
}

.full-width {
  width: 100% !important;
}

.chatbox{
  height: 50vh;
  overflow-y: scroll;
  margin-bottom: 30px;
}

.no-messages {
  height: 50vh;
  overflow-y: scroll;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .3;
}

.send-message {
  width: 100%;
  margin-top: 20px;
}

.text-align-end {
  text-align: end;
}

.profil-view {
  position: relative;
  top: -55px;
  margin-left: 96%;
}

.container img.message-picture {
  width: auto;
  max-width: fit-content;
  border-radius: 0px;
  margin-right: 0px;
  float: none;
}

.clear-message {
  float: left;
  margin-top: -16px;
  color: red;
  cursor: pointer;
}

.edit-message {
  float: left;
  margin-top: -16px;
  color: black;
  cursor: pointer;
}