<div class="auth-block">
  
  <form class="form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <div class="error-block" *ngIf="formError != ''">
      <h3>Erreur lors de l'envoie du formulaire</h3>
      <p>{{ formError }}</p>
    </div>

    <h2>Authentification</h2>
    
      <mat-form-field class="full-width">
        <mat-label>Nom d'utilisateur</mat-label>
        <input matInput placeholder="Nom d'utilisateur" type="text" formControlName="username">
      </mat-form-field>
  
      <mat-form-field class="full-width">
          <mat-label>Mot de passe</mat-label>
          <input matInput placeholder="Mot de passe" type="password" formControlName="password">
      </mat-form-field>
  
      <button mat-flat-button color="primary" type="submit" [disabled]="!authForm.valid">Connexion</button>
    </form>
</div>